<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        
        <!-- Display the Username - START -->
          <%  %>
          <% if (user) { %>
            <span class="navbar-brand ml-2" style="color: black;">Logged In As: <%= user %></span>
          <% } %>
        <!-- Display the Username - END -->

        <!-- Login/Logout Form - START -->
        <% if (user) { %>
          <form action="/logout" method="POST" class="form-inline" >
            <button type="submit" class="btn btn-light">Logout</button>
          </form>
        <% } else { %>
          <form action="/login" method="POST" class="form-inline">
            <!-- 1. A single text input with name="username" -->
            <input type="text" name="username" class="form-control mr-sm-2" placeholder="username" >
            <!-- 2. A submit button to submit the form -->
            <button disabled type="submit" class="btn btn-light">Sign In</button>
            <!-- 3. Users will type in any username into this form in order to "sign in" for now. -->
          </form>
          <form action="" class="form-inline">
            <a href="/register"><button type="button" class="btn btn-light ml-2">Register</button></a>
          </form>
        <% } %>
        <!-- Login/Logout Form - END -->
      </div>
    </div>
  
  </nav>
</header>